import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

body {
    font-family: 'Young Serif', serif;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    padding: 40px;
    text-align: center;
    width: 100%;
    max-width: 750px;
    background: #f7f7f7;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section {
    padding: 15px;
}

h1, h2 {
    text-align: center;
    font-family: 'Young Serif', serif;
    font-weight: 400;
}

h1 {
    font-size: 2em;
    text-decoration: underline;
    padding: 40px;
}

h2 {
    font-size: 1.2em;
}

.link-management, .link-account {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    text-decoration: none;
    background: linear-gradient(71deg, #f7f7f7, #bbbbbb, #f7f7f7);
    color: #6e4f25;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    font-size: 1.1rem;
    border: 1px solid #ddd;
    font-family: 'Young Serif', serif;
    box-shadow: 0 2px 5px rgba(110, 79, 37, 0.3);
    text-align: center;
    width: 100%;
}

.link-management:hover, .link-account:hover {
    background: linear-gradient(71deg, #bbbbbb, #f7f7f7, #bbbbbb);
    transform: translateY(-2px);
    box-shadow: 0 3px 6px rgba(110, 79, 37, 0.5);
}

.section-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

